@define-color primary #f8fafc;

* {
  font-family: "Firacode Nerd Font";
  font-weight: bold;
  font-size: 100%;
}


window#waybar {
  background-color: rgba(10, 10, 10, 0.6);
  transition-property: background-color;
  transition-duration: 0.5s;;
}

window#waybar.hidden {
  opacity: 0.5;

}

window#waybar.empty #window {
  border: 0px;
  background-color: transparent;  
}


.modules-right {  
  border: 0px solid #b4befe;
  border-radius: 10px;
}

.modules-center { 
  border: 0px solid #b4befe; 
  border-radius: 10px; 
} 

.modules-left { 
  border-radius: 10px; 
} 

tooltip {
  opacity: 1;
  border-radius: 10px;
}

tooltip label {
  padding: 10px;
  color: @primary;
}

label {
  color: @primary;
  margin: 0px;
  padding: 3px;
  border-radius: 0px;
  border-bottom: 2px solid rgba(235, 219, 178, 0);
}

/* MODULES */


/* COMMON */
#custom-menu,
#workspaces button,
#window,
#clock,
#custom-picker,
#custom-clipboard,
#custom-screenshot,
#language,
#temperature,
#bluetooth,
#pulseaudio,
#wireplumber,
#network,
#battery,
#memory,
#cpu,
#disk,
#custom-power {
  padding: 3px 3px 0px 3px;
}


/* WORKSPACES */
#workspaces {
  font-weight: bold;
  margin-left: 6px;
}

#workspaces button {
  color: @primary;
  margin: 0px;
  border-radius: 0px;
  border-bottom: 2px solid rgba(235, 219, 178, 0);
}

#workspaces button.visible {
  border-radius: 0px;
  border-bottom: 2px solid #89b4fa;
}

#workspaces button.active {
  border-radius: 0px;
  border-bottom: 2px solid #cba6f7;
}

/* WINDOW */
#window {
  margin: 0px 8px 0px 14px;
  padding: 3px 3px 0px 3px;
}

/* MENU */
#custom-menu {
  font-family: "Firacode Nerd Font Mono";
  font-size: 24px;
  margin: 4px 4px 2px 6px;
  color: #89b4fa;
  padding: 1px 4px 1px 8px;
}

/* SEPARATOR */
#custom-separator {
  font-size: 16px;
  margin: 1px 2px 1px 2px;
  padding: 3px 3px 0px 3px;
}

/* CLOCK */
#clock {
  margin: 4px 6px 2px 6px;
}

/* TRAY */
#tray{
  padding: 3px 3px 2px 3px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
 
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#network { 
  padding: 3px 7px 0px 3px;
}

#custom-picker {
  color: #cba6f7;
  font-family: "Firacode Nerd Font Mono";
  font-size: 18px;
}

#custom-clipboard {
  color: #89b4fa;
  font-family: "Firacode Nerd Font Mono";
  font-size: 18px;
}

#custom-screenshot {
  color: #94e2d5;
  font-family: "Firacode Nerd Font Mono";
  font-size: 18px;
}

#language {
  color: #E583A0;
  padding: 4px 1px 0px 3px;
}

/* POWER */
#custom-power {
  font-family: "Firacode Nerd Font Mono";
  color: #ff6347;
  margin: 4px 6px 2px 2px;
  font-size: 22px;
  padding: 1px 8px 1px 4px;
}