* {
  font-family: "Firacode Nerd Font";
  font-weight: bold;
  /* min-height: 0px; */
  min-width: 0px;
  font-size: 100%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 0px;
  margin: 1px;
  /* border-radius: 0px 0px 8px 8px; */
}


window#waybar {
  background-color: rgba(10, 10, 10, 0.80);
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;

}

/* window#waybar.empty {
  background-color: transparent;
} */

window#waybar.empty #window {
  padding: 0px;
  border: 0px;
  background-color: transparent;  
}

tooltip {
  opacity: 1;
  border-radius: 10px;
}

tooltip label {
  padding: 10px;
  color: #ebdbb2;
}

#custom-cava,
#clock,
#cpu,
#memory,
#mpris,
#network,
#pulseaudio,
#temperature,
#battery,
#custom-menu,
#custom-swaync {
  border-radius: 10px;
  color: #ebdbb2;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
}

#window {
  color: #ebdbb2;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 12px;
}

#workspaces {
  margin: 1px 1px 1px 1px;
  font-weight: bold;
  opacity: 0.8;
}

#workspaces button {
  color: #ebdbb2;
  min-width: 25px;
  margin: 0px;
  border-radius: 0px;
  margin-right: 1px;
  margin-left: 1px;
  border-bottom: 2px solid rgba(235, 219, 178, 0);
  /* border-bottom: 2px solid #ebdbb200; */
}

#workspaces button.active {
  border-radius: 0px;
  border-bottom: 2px solid #ebdbb2;
  min-width: 25px;
  opacity:1.0;
}

.modules-right {  
  /* background-color: rgba(0, 0, 0, 0.55); */
  border: 0px solid #b4befe;
  border-radius: 10px;
  margin: 0px 5px 0px 0px;
  padding-left: 5px;

}

.modules-center { 
  /* background-color: rgba(0, 0, 0, 0.55); */
  border: 0px solid #b4befe; 
  border-radius: 10px; 
  margin: 0px 0px 0px 0px;

} 

.modules-left { 
  /* background-color: rgba(0, 0, 0, 0.55); */
  border-radius: 10px; 
  margin: 0px 0px 0px 5px;
  padding-right: 5px;
} 

#temperature.critical {
  background-color: red;
}
