@import "mocha.css";
@define-color base #0c0c0c;
@define-color text #F5E0DC;


* {
  font-family: "Firacode Nerd Font";
  font-weight: bold;
  font-size: 100%;
}

window#waybar {
  background-color: @base;
  margin: 6px;
  padding: 0 4px;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: @base;
  margin: 0 2px 0 2px;
  padding: 2px;
  border-radius: 5px;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 4px 10px;
  margin: 2px;
  color: @text;
  border-radius: 5px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @base;
  background-color: @text;
  box-shadow: 0 0 0 1px #3A3A3C;
  border-radius: 5px;
}

#workspaces button.active {
  color: @base;
  background-color: @text;
  box-shadow: 0 0 0 1px #3A3A3C;
  border-radius: 5px;
}

#workspaces button.urgent {
  background-color: #f38ba8;
  color: @base;
  box-shadow: 0 0 0 1px #3A3A3C;
  border-radius: 5px;
}

#custom-updates {
  margin: 0 2px 0 4px;
  padding: 6px 12px;
  background-color: @base;
  color: @text;
  border-radius: 5px;
}

#cpu {
  margin: 0 4px 0 8px;
  background-color: @base;
  color: @text;
  border-radius: 5px;
}

#memory {
  margin: 0 12px 0 6px;
  background-color: @base;
  color: @text;
  border-radius: 5px;
}

#battery {
  margin: 0 2px 0 0px;
  padding: 0 12px 0 0px;
  background-color: @base;
  color: @text;
  border-radius: 5px;
}

#bluetooth {
  margin: 0 0px 0 2px;
  background-color: @base;
  color: @text;
  border-radius: 5px;
}

#wireplumber {
  margin: 0 12px 0 4px;
  background-color: @base;
  color: @text;
  border-radius: 5px;
}

#network {
  margin: 0 2px 0 4px;
  background-color: @base;
  color: @text;
  border-radius: 5px;
}

#clock {
  margin: 0 2px 0 4px;
  background-color: @base;
  color: @text;
  border-radius: 5px;
}

#tray {
  margin: 0 2px 0 4px;
  background-color: @base;
  color: @text;
  border-radius: 5px;
}

#window {
  margin: 0 2px 0 4px;
  padding: 6px 12px;
  background-color: @base;
  color: @text;
  border-radius: 5px;
}

#custom-power {
  margin: 0 0 0 4px;
  padding: 6px 16px 6px 12px;
  background-color: @base;
  color: @text;
  border-radius: 5px;
}

#battery.warning,
#battery.critical,
#battery.urgent,
#battery.charging {
  background-color: @base;
  color: @text;
}

tooltip {
  background-color: @base;
}

tooltip label {
  padding: 4px;
  color: @text;
}
