/*
 * From a reddit post in r/hyprland by bikingIsBetter_
 * https://www.reddit.com/r/hyprland/comments/1et9eu2/firefox_lookin_sleeek/
 *
 */

:root {
--bg: rgba(10, 10, 10, 0.4);
}

/*window transparency*/
#main-window {
background: var(--bg) !important;
}

/*current tab*/
tab.tabbrowser-tab[selected="true"] stack.tab-stack vbox.tab-background {
background: #FFFFFF22 !important;
}

/*hover tab*/
tab.tabbrowser-tab:hover stack.tab-stack vbox.tab-background {
background: #FFFFFF22 !important;
}

/*tab selection*/
tab.tabbrowser-tab[pending="true"] {
color: #FFFFFFcc !important;
}

/*hibernated*/
tab.tabbrowser-tab stack.tab-stack vbox.tab-background {
background: transparent !important;
}

/*bookmarks*/
toolbar {
background: transparent !important;
}

/*idk*/
#nav-bar {
background: transparent  !important;
}

/*idk but keep*/
#navigator-toolbox {
background: transparent !important;
border: none !important;
}

/*urlbar*/
#urlbar-background {
background: #00000044 !important;
}

/*suggestions dropdown*/
#urlbar:is([open]) hbox#urlbar-background {
background: #42414D !important;
}

/*little contextual buttons at left of urlbar*/
#urlbar box#identity-box box {
background: inherit !important;
}
#urlbar box#identity-box box:hover {
background: #FFFFFF22 !important;
}
#urlbar box#identity-box box:active {
background: #FFFFFF44 !important;
}

/*new tab (not working)*/
/*
#main-window hbox#browser vbox#appcontent tabbox#tabbrowser-tabbox tabpanels#tabbrowser-tabpanels hbox.newTabBrowserPanel vbox.browserContainer stack.browserStack browser {
background: ff00ff !important;
opacity: 1;
}

#main-window hbox#browser vbox#appcontent tabbox#tabbrowser-tabbox tabpanels#tabbrowser-tabpanels hbox.browserSidebarContainer {
background: ff00ff !important;
opacity: 1;
}
*/
